.slider-image-container {
  max-width: 690px;
  margin: 0 auto;
}

.news-inner-container {
  background: url(/news-white-bg.png) left top;
  background-size: 100% auto;
  padding: 6.5rem 0 7rem;
  max-width: 1420px;
  width: 100%;
  text-align: left;
  margin: -30px auto 0;
  min-height: 1300px;
  font-weight: 300;
  z-index: 100;
}
.custom-inner-container {
  max-width: 1240px;
  width: 100%;
}
.news-border,
.border-dotted-seprator {
  background: transparent url(/news-border.svg) left top;
  height: 2px;
  max-width: 380px;
  margin: 30px auto 44px;
}
.border-dotted-seprator {
  max-width: 100%;
}
.custom-heading-font {
  color: #4d4d4d;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 4px 0;
}
.leading-relaxed {
  color: #6d6e71;
  font-size: 18px;
}
.news-banner-shadow {
  filter: drop-shadow(7px 7px 10px rgba(0, 0, 0, 0.1));
  padding: 0 4px 4px;
  background: #fff;
}
.pink-text {
  color: #e31e79;
  font-size: 1.14rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footer-bg {
  margin-top: -7rem;
}
.news-card-heading {
  color: #4d4d4d;
  font-size: 26px;
}
.news-card-heading span {
  font-size: 26px;
  color: #6d6e71;
}
p {
  font-size: 18px;
  color: #6d6e71;
}
