.inner-container-common {
  background: url(/song-container-bg-v2.svg) left top;
  background-size: 100% auto;
  padding: 6.5rem 0 7rem;
  max-width: 1420px;
  width: 100%;
  text-align: left;
  margin: -30px auto 0;
  min-height: 1300px;
  font-weight: 300;
  z-index: -100;
}

.button-font {
  font-size: 15px;
  font-weight: 300;
}
.songs-about {
  color: #6d6e71;
  font-size: 20px;
  background: transparent;
  font-weight: 400;
  line-height: normal;
  margin: 4rem;
  font-family: 'Lora', serif;
}

.black-custom-color {
  color: #4d4d4d;
}

.text-pink {
  color: #ed1e79;
}

button.search-btn {
  color: #282828;
}

button.search-btn::before {
  color: #282828;
  margin: 0 10px;
}

button.search-btn:first-child::before {
  content: ' ';
  border-right: 1px solid #fff;
  margin: 0 10px;
}
