.inner-container-reflections {
  background: url(/reflection-background-v2.webp) no-repeat left top;
  background-size: 100% auto;
  padding: 100px 0 140px;
  max-width: 1420px;
  width: 100%;
  text-align: left;
  margin: -30px auto 0;
  min-height: 1300px;
  font-weight: 300;
  z-index: -100;
}

.button-font {
  font-size: 15px;
  font-weight: 300;
}
.reflections-about {
  color: #575756;
  background: transparent;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  max-width: 760px;
  margin: 0 auto 50px;
}

.black-custom-color {
  color: #4d4d4d;
}
.reflections-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 52px;
  max-width: 1020px;
  margin: 74px auto 160px;
}

.text-pink {
  color: #ed1e79;
}
.fillter {
  font-size: 21px;
  font-weight: 600;
}
.fillter::after {
  content: ' |';
  color: #4f4f4f;
  font-weight: 300;
  font-size: 20px;
  margin-left: 5px;
}
.card-heading {
  line-height: normal;
}
.all {
  color: #4f4f4f;
  font-size: 21px;
}

button.fillter-btn {
  color: #282828;
}

.reflections-card {
  max-width: 288px;
  box-shadow: 8px 0 12px -4px rgba(0, 0, 0, 0.1);
}

.reflections-card-landing-p {
  max-width: 288px;
  width: 100%;
  padding: 0;
  box-shadow: 8px 0 12px -4px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 4px 4px 0 0;
}

.reflections-semi-heading {
  color: #6f7071;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 6px 0 2px;
}

.reflections-semi-heading .name {
  text-transform: uppercase;
}
.reflections-card-heading {
  color: #e31e79;
  font-family: 'Lora', serif;
  font-size: 24px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
}
.reflections-card-text {
  color: #6f7071;
  font-family: 'Merriweather Sans';
  font-size: 16px;
  line-height: normal;
  font-weight: 300;
  padding: 10px 0 0;
  border-top: 1px solid #e0e0e0;
}

.card-rounded-4 {
  border-radius: 5px 5px 0 0;
  height: fit-content;
}

.inner-container-reflections .card-shape-top::after {
  max-width: 291px;
  min-width: 291px;
  margin: 0 auto;
  left: -3px;
  bottom: -25px;
  width: 100%;
}
.inner-container-reflections .card-shape-top::before {
  content: ' ';
  background: url(/song-card-bottom.png) no-repeat;
  width: 100%;
  background-size: cover;
  position: absolute;
  left: 0;
  height: 22px;
  z-index: 10;
  top: -16px;
}
.reflections-card-link {
  color: #b1b1b1;
  font-family: 'Merriweather Sans';
  font-size: 14px;
  line-height: normal;
  margin: 22px 0 0;
}
.border-top-heading {
  border-top: 1px solid #b1b1b1;
}
.reflections-count-text {
  font-family: 'Lora', serif;
  font-size: 27px;
  font-weight: 400;
  line-height: normal;
  padding: 0 15px;
  box-sizing: border-box;
}

@media screen and (max-width: 1580px) {
  .inner-container-reflections {
    max-width: 1240px;
    width: 100%;
  }
  .reflections-about {
    font-size: 19px;
  }
  .reflections-count-text {
    font-size: 25px;
  }
  .all {
    color: #4f4f4f;
    font-size: 19px;
  }
  .fillter {
    font-size: 20px;
  }
}
